html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1000px;
  margin: 0;
  padding: 0;

  font: 400 18px/18px 'Montserrat', Arial, sans-serif;
  color: #585858;

  background-color: #f5f5f5;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@mixin calculate_font(
  $font_size,
  $line_height,
  $color: false,
  $font_weight: false,
  $font_style: false
) {
  @if $font_size { font-size: $font_size; }
  @if $line_height { line-height: $line_height; }
  @if $color { color: $color; }
  @if $font_weight { font-weight: $font_weight; }
  @if $font_style { font-style: $font_style; }
}
